.active-stocks-marquee-price,
.active-stocks-marquee-symbol {
  font-size: 0.8rem;
}
.active-stocks-marquee-price {
  color: rgb(32, 218, 32);
}
.active-stocks-marquee-price::before {
  content: "$";
}
.marquee-container {
  width: calc(100vw);
  position: relative;
  overflow: hidden;
  padding: 8px 0;
  background-color: white;
}
.marquee {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.marquee-slider {
  width: calc(100%);

  display: flex;

  align-items: center;
  justify-content: space-around;

  white-space: nowrap;
  flex-wrap: nowrap;
  animation: marquee-scrollX 60s linear infinite;
}
.marquee-slider-follow {
  width: calc(100%);

  position: absolute;
  flex-wrap: nowrap;

  display: flex;
  justify-content: space-around;

  white-space: nowrap;
  /* background-color: cornflowerblue; */
  animation: marquee-scrollX-follow 60s linear infinite;
}
.marquee {
}
.marquee-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  /* width: calc(100% / 80); */
}
@keyframes marquee-scrollX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee-scrollX-follow {
  0% {
    transform: translateX(calc(100%));
  }
  100% {
    transform: translateX(calc(-0%));
  }
}
