.company-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  padding: 16px 15%;
}
#companyProfileContentContainer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.company-profile-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
#companyProfileImage {
  /* width: 32px; */
  max-height: 64px;
}
#companyProfileName {
  font-weight: 400;
}
.company-profile-stock-price-label,
#companyProfileStockPrice,
#companyProfileStockPriceChanges {
  font-size: 1.15rem;
}
.company-profile-stock-price-label,
#companyProfileStockPrice {
  font-weight: 600;
}
#companyProfileStockPrice:before {
  content: "$";
}

.company-profile-prices-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.company-profile-header-link {
  color: blue;
}
