.company-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  padding: 16px 15%;
}
.company-profile-content-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: fit-content;
  flex: 1 1 0;
}
.company-profile-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.company-profile-image {
  /* width: 32px; */
  max-height: 64px;
}
.company-profile-name {
  font-weight: 400;
}
.company-profile-description-container {
  max-height: 40vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #2b2a2a3a transparent;
  padding: 4px;
}
.company-profile-description-container::-webkit-scrollbar {
  width: 0.3rem;
}
.company-profile-description-container::-webkit-scrollbar-thumb {
  background-color: #2b2a2a3a;
  border-radius: 10px;
}
.company-profile-description-text {
  font-weight: 400;
}
.company-profile-stock-price-label,
.company-profile-stock-price,
.company-profile-stock-price-changes {
  font-size: 1.15rem;
}
.company-profile-stock-price-label,
.company-profile-stock-price {
  font-weight: 600;
}
.company-profile-stock-price:before {
  content: "$";
}

.company-profile-prices-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.company-profile-header-link {
  color: blue;
}
