.main-container {
  background-color: rgb(230, 235, 240);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: stretch;
  min-height: 100vh;
  padding: 16px 15%;
}
.main-body-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* width: 100%; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 26px;
}
.d-none {
  display: none !important;
}
a {
  text-decoration: none;
  color: blue;
}
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: blue;
}
