.main-container {
  background-color: rgb(230, 235, 240);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  min-height: 100vh;
  padding: 16px 15%;
}
.d-none {
  display: none;
}
a {
  text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
